.pill {
  background-color: var(--color-grey);
  border: 1px solid var(--color-border-grey);
  display: inline-flex;
  margin-right: 15px;
  margin-bottom: 10px;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 5px;

  &:last-of-type {
    margin-right: 0;
  }
  &__remove {
    display: block;
    margin-left: 10px;
    cursor: pointer;
  }
}
