.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  &__wrapper {
    display: flex;
    position: relative;
  }
  &__label {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  &__field {
    border: 1px solid var(--color-grey-dark);
    padding: 10px 15px;
    flex-grow: 1;
    &:focus {
      outline: none;
    }
  }
}
