.header {
  padding: 10px 15px;
  display: flex;
  border-bottom: 1px solid var(--border-grey);
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--black);
  &:hover .logo-title {
    opacity: 1;
  }
}

.logo-svg {
  height: 50px;
  width: 50px;
}

.logo-title {
  margin-left: 5px;
  font-weight: bold;
  opacity: 0.75;
  transition: opacity 0.25s ease-in-out;
}

.avatar {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: 13px;
}

.avatar-svg {
  height: 25px;
  width: 25px;
}

.avatar-name {
  display: none;
  @media only screen and (min-width: 600px) {
    margin-left: 5px;
    display: block;
  }
}
