.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  @media only screen and (min-width: 600px) {
    flex-direction: row;
  }
}

.main {
  flex-grow: 1;
}
