.classroom-list-item {
  background-color: var(--color-white);
  box-shadow: 0px 2px 10px 0px rgb(0 0 0 / 5%);
  padding: 10px 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  &__image {
    max-width: 150px;
    padding: 10px;
    margin-bottom: 10px;
  }

  &__name {
    margin: 0 0 5px 0;
  }

  &__students {
    margin: 0 0 10px 0;
    font-size: 14px;
    text-align: center;
  }
}
